@import "normalize.styl"
@import "skeleton.styl"
@import "nib"

gris_claro=#D5D5D5
azulfeo=#353588

body
	font-size 16px
.centrado-flex
	display flex
	flex-flow row wrap
	justify-content space-between
.formulario
	border 2px solid
	border-radius 5px
	width 90vw
	margin auto
	padding 1em
	background-color gris_claro
.PrvTimp
	border-bottom 1px solid
	margin-bottom .8em
	padding-bottom .2em
button
	margin .6em .5em
input
	text-transform uppercase
h5
	margin 0
.btn-inicio
	background-color green
	&:hover
		background-color DarkSlateBlue
		color white
.btn-fin
	background-color red
	&:hover
		background-color DarkSlateBlue
		color white
.btn-unico
	color white
	background-color navy
	&:hover
		color white
		background-color DarkSlateBlue
/*Seccion de Areas*/
.contenedor
	height 100vh
	width 100vw
	display table
.bjt
	display table-cell
.nvprin
	background-color navy
	width 50vw
	height 48vh
	.a-cf1-v
		height 30%
	.a-cf1
		background-color green
		height 70%
		.a-cf1-1
			cursor pointer
			background-color gris_claro
			border 1px solid 
			width 100%
			height 50%
			&:hover
				background-color LightSeaGreen
		.a-cf1-2
			cursor pointer
			background-color gris_claro
			border 1px solid
			width 50%
			height 48%
			&:hover
				background-color LightSeaGreen
.nvsec
	background-color navy
	width 50vw
	height 48vh
	.a-cf2-v
		height 50%
	.a-cf2
		height 50%
		background-color green
		.a-cf2-1, .a-cf2-2
			cursor pointer
			background-color gris_claro
			border 1px solid
			width 48%
			height 100%
			&:hover
				background-color LightSeaGreen
.espacio1
	height 1vh
.espacio2
	height 30%
.pt
	display table-cell
	background-color peru
	height 70vh
	width 48vw
.pts
	background-color green
	height 60%
	width 100%
	.pts-1,.pts-2,.pts-3,.pts-4,.pts-5,.pts-6
		width 49%
	.pts-2, .pts-4, .pts-6
		cursor pointer
		background-color gris_claro
		border 1px solid
		&:hover
			background-color LightSeaGreen
/*LISTADO DE CONTENEDORES*/
.contenido
	width 95vw
	height 98vh
	margin auto
	padding 1em
	background-color Khaki
	.contenedores 
		cursor pointer
		box-shadow MidnightBlue 1px -1px 0px,
		MidnightBlue 2px -2px 0px,
		MidnightBlue 3px -3px 0px,
		MidnightBlue 4px -4px 0px,
		MidnightBlue 5px -5px 0px,
		MidnightBlue 6px -6px 0px,
		MidnightBlue 7px -7px 0px,
		MidnightBlue 8px -8px 0px,
		MidnightBlue 9px -9px 0px,
		DarkBlue 10px -10px 10px
		background-color MidnightBlue
		width 8em
		height 3em
		text-align right
		padding-right .2em
		.ncont
			text-transform uppercase
			color white