@import "normalize.styl"
@import "skeleton.styl"
@import "nib"

gris_claro=#D5D5D5
azulfeo=#353588

body
	font-size 16px
.centrado-flex
	display flex
	flex-flow row wrap
	justify-content space-between
.formulario
	border 2px solid
	border-radius 5px
	width 90vw
	margin auto
	padding 1em
	background-color gris_claro
.PrvTimp
	border-bottom 1px solid
	margin-bottom .8em
	padding-bottom .2em
button
	margin .6em .5em
input
	text-transform uppercase
h5
	margin 0
.btn-inicio
	background-color green
	&:hover
		background-color black
		color white
.btn-fin
	background-color red
	&:hover
		background-color black
		color white
.btn-unico
	color white
	background-color navy
	&:hover
		color white
		background-color azulfeo
/*Seccion de Areas*/
.contenedor
	height 100vh
	width 100vw
	display table
.bjt
	display table-cell
.nvprin
	background-color navy
	width 50vw
	height 48vh
	.a-cf1-v
		height 30%
	.a-cf1
		background-color green
		height 70%
		.a-cf1-1, 
			width 50%
			height 50%
		.a-cf1-2, .a-cf1-4, .a-cf1-3
			background-color gris_claro
			width 50%
			height 50%
.nvsec
	background-color navy
	width 50vw
	height 48vh
	.a-cf2-v
		height 50%
	.a-cf2
		height 50%
		background-color green
		.a-cf2-1, .a-cf2-2
			background-color gris_claro
			border 1px solid
			width 49%
			height 100%	
.espacio1
	height 1vh
.pt
	display table-cell
	background-color peru
	height 70vh
	width 48vw