@import "normalize.styl"
@import "skeleton.styl"
@import "nib"

gris_claro=#D5D5D5

body
	font-size 16px

form
	border 2px solid
	border-radius 5px
	//height 90vh
	width 90vw
	margin auto
	padding 1em
	background-color gris_claro
div
	border-bottom 1px solid
	margin-bottom .5em
	padding-bottom .2em
button
	margin .5em .2em
.btn-inicio
	background-color green
.btn-fin
	background-color red
.btn-unico
	color white
	background-color navy
